body {
    height: 100vh;
    width: 100vw;
    background: url("../images/skyline.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.page-box {
    width: 100%;
}

.submit-box {
    background-color: #EBF0EE;
    height: 75vh;
    width: 60vw;
    color:black;
    font-size:2vw;
    font-family:Palatino,serif;
    margin-left: 20vw;
    margin-right: 20vw;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.box-title {
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
}

.landlord-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin: 2.5% 5%;
}

.property-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin: 2.5% 5%;
}

.star-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin: 2.5% 5%;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
}
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
}

.review-text {
    resize: none;
    width: 90%;
    height: 50%;
    resize: none;
    font-size: 2vh;
    padding: 1%;
    margin: 2.5% 5% 0;
}

.submit-row {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.5vw;
}

.submit-button {
    border-radius: 5px;
    border-radius: 5px;
}

.dropdown-label {
    display: inline-block;
    position: relative;
}

.dropdown-btn {
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 10px 35px 10px 10px;
    margin: 5px;
    background-color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
}

.dropdown-btn:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
}

.dropdown-btn:hover {
    background-color: #eeeeee;
}

.dropdown-input {
    display: none;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    list-style-type: none;
}

.dropdown-input + .dropdown-menu {
    display: none;
}

.dropdown-input:checked + .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
}

.dropdown-menu li:hover {
    background-color: #f6f6f6;
}

.dropdown-menu li {
    display: block;
    margin: 5px 5px 0px 5px;
    padding: 5px;
}

.check-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 50%;
    margin: 0 5% 0;
    font-size: 1.5vh;
}
